<td><%= name %></td>
<td><center><%= level %></center></td>
<td><center><%= price %></center></td>
<td><center><%= username %></center></td>
<% if (id > 0 ) { %>
<td><a href="#/<%= id %>/showShop">Show</td>
<% } %>
<td><a href="#/index" class="buy">Buy</a></td>

