<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Level:</b>
  <%= level %>
</p>
<p>
  <b>Rank:</b>
  <%= rang %>
</p>
<p>
  <b>Health:</b>
  <%= health %>
</p>

<p>
  <b>Experience:</b>
  <%= experience %>
</p>

<p>
  <b>Money:</b>
  <%= money %>
</p>

<p>
  <b>Minimum dmg:</b>
  <%= min_dmg %>
</p>

<p>
  <b>Maximum dmg:</b>
  <%= max_dmg %>
</p>

<p>
  <b>Attack speed:</b>
  <%= speed %>
</p>


<p>
  <b>Defence:</b>
  <%= defence %>
</p>

<p>
  <b>Critical:</b>
  <%= critical %>
</p>

<p>
  <b>Critical multiplier:</b>
  <%= critical_multiplier %>
</p>

<a href="#/index">Back</a>
